In [0]:
from scipy.stats import ttest_1samp
import numpy as np
import pandas as pd
from scipy import stats

In [0]:
test_1 = pd.read_csv("/content/B2B_B2C_companies - B2C_number.csv")

In [0]:
test_1.head(10)

   Last_5_B2C  First_B2C
0        11.0         12
1        23.0          8
2        24.0          6
3        56.0         21
4        40.0         13
5        37.0          5
6        25.0          6
7        69.0         23
8        36.0          7
9        20.0          3

In [0]:
x = test_1['Last_5_B2C']

The following command lines contain reused code lines of the following site: https://machinelearningmastery.com/statistical-hypothesis-tests-in-python-cheat-sheet/ However they are adapted to the specific problem assesed.

In [0]:
from scipy import stats
k2, p = stats.normaltest(x)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 3.12409e-05
The null hypothesis can be rejected

In [0]:
y = test_1['First_B2C']

In [0]:
from scipy import stats
k2, p = stats.normaltest(y)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 3.75384e-09
The null hypothesis can be rejected

H1: B2C is growing is number

In [0]:
import pandas as pd
from scipy import stats
df_1 = pd.read_csv("/content/B2B_B2C_companies - B2C_number.csv")
df_1[['Last_5_B2C','First_B2C']].describe()
ttest,pval = stats.ttest_rel(df_1['Last_5_B2C'], df_1['First_B2C'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

4.066365380882651e-24
reject null hypothesis

In [0]:
test_2 = pd.read_csv("/content/B2B_B2C_companies - B2B_number (4).csv")

In [0]:
x2 = test_2['Last_5_B2B']
y2 = test_2['First_B2B']

In [0]:
k2, p = stats.normaltest(x2)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.000152764
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y2)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 1.48977e-07
The null hypothesis can be rejected

Is B2B growing in number?

In [0]:
import pandas as pd
from scipy import stats
df_2 = pd.read_csv("/content/B2B_B2C_companies - B2B_number (4).csv")
df_2[['Last_5_B2B','First_B2B']].describe()
ttest,pval = stats.ttest_rel(df_2['Last_5_B2B'], df_2['First_B2B'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

1.6190689477759134e-27
reject null hypothesis

There are increasingly more Fintech companies

In [0]:
test_3 = pd.read_csv("/content/B2B_B2C_companies - Both number.csv")

In [0]:
x3 = test_3['Last_5_both']
y3 = test_3['First_both']

In [0]:
k2, p = stats.normaltest(x3)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 6.06552e-05
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y3)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 1.77403e-08
The null hypothesis can be rejected

In [0]:
df_3 = pd.read_csv("/content/B2B_B2C_companies - Both number.csv")
df_3[['Last_5_both','First_both']].describe()
ttest,pval = stats.ttest_rel(df_3['Last_5_both'], df_3['First_both'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

4.64374695733805e-26
reject null hypothesis

More B2B in comparisson to previous years vs B2C

In [0]:
test_4 = pd.read_csv("/content/B2B_B2C_companies - Both difference.csv")

In [0]:
x4 = test_4['Difference_last_5']
y4 = test_4['Difference_first']

In [0]:
k2, p = stats.normaltest(x4)
alpha = .065
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.059588
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y4)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 1.84661e-10
The null hypothesis can be rejected

In [0]:
df_4 = pd.read_csv("/content/B2B_B2C_companies - Both difference.csv")
df_4[['Difference_last_5','Difference_first']].describe()
ttest,pval = stats.ttest_rel(df_4['Difference_last_5'], df_4['Difference_first'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.08637712340702586
accept null hypothesis

Ranking difference from B2B to B2C overall * again

In [0]:
test_5 = pd.read_csv("/content/B2B_B2C_companies - Ranking difference.csv")

In [0]:
x5 = test_5['Ranking_B2B_1']
y5 = test_5['Ranking_B2C_1']

In [0]:
k2, p = stats.normaltest(x5)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 2.91455e-75
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y5)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 1.7153e-251
The null hypothesis can be rejected

In [0]:
df_5 = pd.read_csv("/content/B2B_B2C_companies - Ranking difference.csv")
df_5[['Ranking_B2B_1','Ranking_B2C_1']].describe()
ttest,pval = stats.ttest_rel(df_5['Ranking_B2B_1'], df_5['Ranking_B2C_1'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.032567490372818024
reject null hypothesis

Has the ranking gap reduced in the last five years * again

In [0]:
test_6 = pd.read_csv("/content/B2B_B2C_companies - Ranking_gap_reduce (1).csv")

In [0]:
x6 = test_6['Difference_1']
y6 = test_6['Difference']

In [0]:
k2, p = stats.normaltest(x6)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.0119933
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y6)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0
The null hypothesis can be rejected

In [0]:
df_6 = pd.read_csv("/content/B2B_B2C_companies - Ranking_gap_reduce (1).csv")
df_6[['Difference_1','Difference']].describe()
ttest,pval = stats.ttest_rel(df_6['Difference_1'], df_6['Difference'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.7462868092084969
accept null hypothesis

Does B2C hve better score overall?

In [0]:
df_8 = pd.read_csv("/content/B2B_B2C_comparrisns - Score overall.csv")
df_8[['Master_B2B','Master_B2C']].describe()
ttest,pval = stats.ttest_rel(df_8['Master_B2B'], df_8['Master_B2C'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

2.1597589114147994e-06
reject null hypothesis

In [0]:
test_7 = pd.read_csv("/content/B2B_B2C_comparrisns - Difference_score.csv")

In [0]:
x7 = test_7['Diff_score_last5']
y7 = test_7['Diff_score_first']

In [0]:
k2, p = stats.normaltest(x7)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.00209086
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y7)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.305928
No normality

In [0]:
from sklearn import preprocessing
normalizer = preprocessing.Normalizer().fit(test_7)  
normalizer

Normalizer(copy=True, norm='l2')

In [0]:
normalizer = normalizer.transform(test_7)

In [0]:
test_7 = pd.DataFrame(normalizer)

In [0]:
test_7.head()

          0         1
0 -0.067788 -0.997700
1  0.180984 -0.983486
2  0.055324 -0.998468
3 -0.261167 -0.965294
4 -0.001364 -0.999999

In [0]:
x7 = test_7[0]
y7 = test_7[1]

In [0]:
k2, p = stats.normaltest(x7)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.0123049
The null hypothesis can be rejected

In [0]:
k2, p = stats.normaltest(y7)
alpha = .05
print("p = {:g}".format(p))
if p < alpha:
  print("The null hypothesis can be rejected")
else:
    print("No normality")

p = 0.0212875
The null hypothesis can be rejected

In [0]:

ttest,pval = stats.ttest_rel(x7, y7)
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.19781764713383684
accept null hypothesis

Hypothesis 7 part II

In [0]:
df_10 = pd.read_csv("/content/Time series dataset - Hypothesis7_part2.csv")
df_10[['New','First']].describe()
ttest,pval = stats.ttest_rel(df_10['New'], df_10['First'])
print(pval)
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

2.772827354775973e-05
reject null hypothesis