In [0]:
import numpy as np
import pandas as pd

In [0]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras import layers
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd

Using TensorFlow backend.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as mno
from sklearn import linear_model
%matplotlib inline

In [0]:
import missingno as mno
from sklearn import linear_model

In [0]:
df = pd.read_csv('/content/Imanol_mastersheet - Sheet3.csv')

In [0]:
df.head()

   Countries fintechs     Country  Year        1A  ...        5A  5B  5C     6A
0                   4   Argentina  2018  2.447560  ...  3.377250 NaN NaN  7.217
1                   1  Bangladesh  2018  2.578552  ...  3.109820 NaN NaN  4.048
2                  32      Brazil  2018  2.459301  ...  3.782592 NaN NaN  7.193
3                  30      Canada  2018  3.689212  ...  4.489319 NaN NaN  7.292
4                   1       Chile  2018  3.504282  ...  3.518594 NaN NaN  6.659

[5 rows x 21 columns]

In [0]:
df = df.drop(['Country'], axis=1)
df.head()

   Countries fintechs  Year        1A        1B  ...        5A  5B  5C     6A
0                   4  2018  2.447560  2.805120  ...  3.377250 NaN NaN  7.217
1                   1  2018  2.578552  3.683762  ...  3.109820 NaN NaN  4.048
2                  32  2018  2.459301  3.302393  ...  3.782592 NaN NaN  7.193
3                  30  2018  3.689212  4.582466  ...  4.489319 NaN NaN  7.292
4                   1  2018  3.504282  4.101409  ...  3.518594 NaN NaN  6.659

[5 rows x 20 columns]

In [0]:
missing_columns = ["1B", "1C", "2B", "2D", "2E", "3A","3B","3C","4A","5B","5C"]

The following command line structure were reused and readapted for this specific project from:
https://kaggle.com/shashakasubrahmanya/missing-data-imputation-using-regression

In [0]:
def random_imputation(df, feature):

    number_missing = df[feature].isnull().sum()
    observed_values = df.loc[df[feature].notnull(), feature]
    df.loc[df[feature].isnull(), feature + '_imp'] = np.random.choice(observed_values, number_missing, replace = True)
    
    return df

In [0]:
deter_data = pd.DataFrame(columns = ["Det" + name for name in missing_columns])

for feature in missing_columns:
        
    deter_data["Det" + feature] = df[feature + "_imp"]
    parameters = list(set(df.columns) - set(missing_columns) - {feature + '_imp'})
    
    model = linear_model.LinearRegression()
    model.fit(X = df[parameters], y = df[feature + '_imp'])
    
  
    deter_data.loc[df[feature].isnull(), "Det" + feature] = model.predict(df[parameters])[df[feature].isnull()]

KeyError: ignored

In [0]:
deter_data.head(20)

Empty DataFrame
Columns: [Det1B, Det1C, Det2B, Det2D, Det2E, Det3A, Det3B, Det3C, Det4A, Det5B, Det5C]
Index: []

In [0]:
deter_data.describe()

            Det1B       Det1C       Det2B  ...       Det4A       Det5B       Det5C
count  170.000000  170.000000  170.000000  ...  170.000000  170.000000  170.000000
mean     4.563793    4.417471    4.205251  ...   39.184886    5.433185   28.774142
std      0.823135    0.629801    1.014360  ...   27.664759    0.541235   11.263432
min      2.713680    2.922948    1.557793  ...    0.190000    4.221145    1.847230
25%      3.927523    3.997338    3.545780  ...   20.937568    5.035579   21.237750
50%      4.582860    4.452300    4.101992  ...   32.584657    5.314801   27.842587
75%      5.081988    4.871723    4.711361  ...   49.917824    5.808642   35.115279
max      6.406627    5.826403    6.269771  ...  132.910286    6.743439   58.122132

[8 rows x 11 columns]

In [0]:
df_complete = pd.read_csv('/content/Imanol_mastersheet - Sheet3.csv')

In [0]:
df_complete = df_complete[['Country','Year', '1A','2A','2C','3D','4B','5A','6A']]

In [0]:
df_Imanol = pd.concat([df_complete,deter_data])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
df_complete.head()

      Country  Year        1A        2A  ...        3D          4B        5A     6A
0   Argentina  2018  2.447560  3.430802  ...  4.657785  139.814600  3.377250  7.217
1  Bangladesh  2018  2.578552  3.058403  ...  3.496264   88.124059  3.109820  4.048
2      Brazil  2018  2.459301  3.238514  ...  5.729115  112.996557  3.782592  7.193
3      Canada  2018  3.689212  4.659581  ...  6.519052   85.895667  4.489319  7.292
4       Chile  2018  3.504282  3.885442  ...  6.333855  127.463286  3.518594  6.659

[5 rows x 9 columns]

In [0]:
deter_data.head()

      Det1B     Det1C     Det2B  ...      Det4A     Det5B      Det5C
0  2.805120  4.061309  4.195683  ...  78.050150  5.170746  31.000048
1  3.683762  4.117619  3.355734  ...  30.039114  4.949509  35.176705
2  3.302393  4.566283  4.296651  ...  90.236846  5.196036  22.598120
3  4.582466  5.105235  4.638758  ...  72.454314  6.075442  12.395334
4  4.101409  3.883189  3.263582  ...  88.247675  5.021656  41.484608

[5 rows x 11 columns]

In [0]:
df_Imanol = pd.concat([df_complete, deter_data])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
from google.colab import files

deter_data.to_csv('deter_data.csv')
files.download('deter_data.csv')

Erase this