In [0]:
import numpy as np
import pandas as pd

In [0]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras import layers
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd

In [0]:
import fancyimpute

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [0]:
from fancyimpute import IterativeImputer

In [0]:
import missingno as mno
from sklearn import linear_model

In [0]:
df = pd.read_csv('/content/Latam_mastersheet - Sheet2.csv')

In [0]:
my_imputer = IterativeImputer()
df_complete = my_imputer.fit_transform(df)

In [0]:
df_complete

array([[2.44756031, 2.80511951, 4.06130903, ..., 3.37724996, 5.17074596,
        7.21700001],
       [2.45930123, 3.30239272, 4.56628276, ..., 3.78259158, 5.19603569,
        7.19299984],
       [3.50428152, 4.10140943, 3.88318892, ..., 3.51859426, 5.02165621,
        6.65899992],
       ...,
       [2.5493798 , 4.11827649, 4.07540917, ..., 3.703539  , 4.39200458,
        8.72000027],
       [2.44357089, 3.94682862, 3.99178578, ..., 2.88669741, 3.48631742,
        7.73999977],
       [2.67008818, 4.12117942, 4.0727591 , ..., 4.352597  , 4.89359129,
        8.05000019]])

In [0]:
df_imputed = pd.DataFrame(df_complete)

In [0]:
df_imputed.head()

         0         1         2   ...        14        15     16
0  2.447560  2.805120  4.061309  ...  3.377250  5.170746  7.217
1  2.459301  3.302393  4.566283  ...  3.782592  5.196036  7.193
2  3.504282  4.101409  3.883189  ...  3.518594  5.021656  6.659
3  2.886229  3.680098  3.975811  ...  3.503555  5.061698  9.740
4  3.152481  3.589537  4.556806  ...  3.480606  5.331116  4.887

[5 rows x 17 columns]

In [0]:
df_imputed.describe()

               0           1           2   ...          14          15          16
count  130.000000  130.000000  130.000000  ...  130.000000  130.000000  130.000000
mean     2.599301    4.116651    4.204147  ...    3.904607    4.593792    6.711277
std      0.418298    0.678130    0.507219  ...    1.132258    0.858048    2.836707
min      1.745999    2.713680    2.922948  ...    1.279274    2.578139    2.007000
25%      2.317200    3.655765    3.864539  ...    3.103933    3.999354    4.144250
50%      2.549380    4.035947    4.122560  ...    3.901867    4.755224    6.945000
75%      2.878356    4.441073    4.562907  ...    4.618444    5.138615    8.335000
max      3.744064    5.865252    5.516477  ...    6.533621    6.487304   12.827000

[8 rows x 17 columns]

In [0]:
from google.colab import files

df_imputed.to_csv('LATAM_imputed.csv')
files.download('LATAM_imputed.csv')